{% extends "base.html" %}
{% block title %} dodaj Film {% endblock %}
{% block content %}
<div class="row">
  <div class="col-4">
  </div>
  <div class="col-4">
    <form action="" method="post">
      <div class="mb-3">

        <label for="city" class="form-label">nazwa miasta:</label>
        <input type="text" class="form-control" id="city" name="city">

      </div>
      <button type="submit" class="btn btn-primary">Dodaj</button>
    </form>
  </div>
  <div class="col-4">
  </div>
</div>

{% endblock %}